{
  "extends": [
    "eslint:recommended", "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "@typescript-eslint/no-var-requires": "off"
  },
  "root": true
}
